footer
{
    background-color: #353535;
    color: #fff;
    line-height: 1.5em;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & div
    {
        display: flex;
        margin-left: 1rem;
    }

    & i
    {
        font-size: 1em;
    }
    
    & .footer--emoticone
    {
        height: 20px;
        width: 20px;
        margin-right: 1rem;
        margin-left: 0;
    }

    & a 
    {
        color: #fff;
        text-decoration: none;
    }
}

.footer--logo
    {
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        margin-bottom: 1em;
        margin-left: 1rem;
    }