header
{
    text-align: center;

    & img
    {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & div
    {
    padding: 0 2em 0 2em;
    }

    & a
    {
    text-decoration: none;
    color: white;
    }

}

.menu
{
    display: flex;
    flex-direction: column;
    
    & div
    {
        display: flex;
        margin: 1em 1em;
        align-items: center;
    }

    & i 
    {
        margin-right: 20px;
    }

    & .headerimagemenu
    {
        overflow: hidden;
        width: 100%;
        object-fit: cover;
    }

    & a
    {
        text-decoration: none;
        color: black;
    }
}

