header
{
    text-align: center;

    & img
    {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & div
    {
    padding: 0 2em 0 2em;
    }
}

.menu
{
    display: flex;
    margin: 1em 1em;
    align-items: center;

    & i 
    {
        margin-right: 50px;
    }

}

