@font-face
{
    font-family: 'roboto';
    src: url('roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'shrikhand';
    src: url('shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

*
{font-family: 'roboto';}

h1
{
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

h2
{
    font-size: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

h4,h5
{
    font-size: 0.9em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

body
{
    margin: 0 auto;
    max-width: 450px;
}

header
{
    text-align: center;
}

header img
{
    margin-top: 1em;
    margin-bottom: 1em;
}

form
{
    width: 100%;
    padding: 1em 0;
    background: #eaeaea;

}

form input
{
    border: none;
    background: #eaeaea;
    text-align: center;
}

header div
{
    padding: 0 2em 0 2em;
}

#explorer
{
    border-radius: 50px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    padding: 1em;
    border: none;
}

#fonction
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
}

.fonctionnement
{
    display: flex;
    background: #f6f6f6;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 2em;
    box-shadow: 6px 6px 6px #7e7e7e;
}

.fonctionnement div
{
    margin: 10px 10px 10px 0px;
}

.fonctionnement p 
{
    background-color: #9356DC;
    margin: 0px;
    margin-left: -10px;
    border-radius: 50px;
    padding: 2px 5px;
    color: #fff;
    left: 0;
}

.fonctionnement i 
{
    color: #7e7e7e;
}

#restaurants
{
    padding-left: 1em;
}

.restaurants__fiche a
{
    color: black;
    text-decoration: none;
}

.restaurants__fiche
{
    border-radius: 20px;
    box-shadow: 6px 6px 6px #7e7e7e;
    margin-bottom: 2em;
    width: 95%;
}

.restaurants__fiche img
{
    overflow: hidden;
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurants__description
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    line-height: 0.8rem;
}

.restaurants i:hover
{
    color: #9356DC;
}

.imagenouv
{
    position: relative;
}

.image
{

    z-index: 1;
}

.nouveau
{
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 5%;
    color: #008766;
    background: #99e2d0;
    font-size: 0.7em;
}

.nouveau p
{
    margin: 0.7em 1.2em;
}

footer
{
    background-color: #353535;
    color: #fff;
    padding: 1rem;
    line-height: 1.5em;
}

footer div
{
    display: flex;
    margin-right: 1em;
}

#logofooter
{
    font-family: 'shrikhand';
    margin-bottom: 1em;
}

footer p 
{
    margin: 0px;
}

footer i
{
    font-size: 1em;
}

.emoticone
{
    height: 20px;
    width: 20px;
}

footer a
{
    color: #fff;
    text-decoration: none;
}