.bouton
{
    border-radius: 50px;
    background-image: $colour-btn;
    color: #fff;
    padding: 1em 2em;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    display: block;
    text-align: center;
    @include shadow;
    
    &:hover
    {
        background-image: linear-gradient(lighten($colour-secondary,5%),lighten($colour-primary,5%));
        box-shadow : 5px 5px 3px grey;
    }
}