@font-face
{
    font-family: 'roboto';
    src: url('../roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'shrikhand';
    src: url('../shrikhand/Shrikhand-Regular.ttf') format('truetype');
}