#fonction
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
}

.fonctionnement
{
    display: flex;
    background: #f6f6f6;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    @include shadow

    & div
    {
        margin: 10px 10px 10px 0px;
    }

    & p
    {
        background-color: #9356DC;
        margin: 0px;
        margin-left: -10px;
        border-radius: 50px;
        padding: 2px 5px;
        color: #fff;
        left: 0;
    }

    & i 
    {
        color: #7e7e7e;
    }
}

.fonctionnement--purple
{
    background-color: #f5edff;
}