.wrapper{
    background-color: #99E2D0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    animation: wrapp 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
}

.spinner{
    border: 2px solid rgba($color: #fff, $alpha: 0.7);
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-top: white;
    animation: spin 3s ease-in-out;
    position: absolute;
}


@keyframes wrapp{
    0%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index:-1;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1turn);
    }
}